.container {
  @apply h-auto w-full grid grid-cols-10 p-6 bg-gray-50 drop-shadow-xl;
}

.title {
  @apply col-start-2 col-span-3 flex;
}

.logo {
  @apply size-10 mr-2;
}

.mainTitle {
  @apply font-medium text-4xl;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.title1 {
  @apply text-slate-500;
}

.title2 {
  @apply text-blue-marine italic;
}

.navbarMenu {
  @apply md:w-auto md:flex col-span-5 items-center justify-end;
}

.ul {
  @apply flex flex-col p-4 md:p-0 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0;
  font-family: "Montserrat", sans-serif;
}
